# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Crypt/x64/
DCTool/resources/
DCTool/x64/
Detour/x64/
DetourCrowd/x64/
DetourTileCache/x64/
libs/SDL/docs/
MapReaderV2/x64/
Recast/x64/
Tests/x64/
x64/Debug/resources/
x64/Release/resources/
Tests/Debug/
x64/
Recast/resources/
libs/zlib/Src/projects/
libs/zlib/Src/msdos/
libs/zlib/Src/examples/
/MapReaderV2/resources
/.vs/MapReaderV2/v16
/.vs/MapReaderV2/config
